#form-sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    & .form {
        width: 550px;
        display: flex;
        flex-direction: column;
        font-family: 'Noto Sans Tai Viet', sans-serif;
        overflow: hidden;

        & .form-step-parent {
            display: flex;
            width: 400%;
            transition: 0.5s;

            & .form-step {
                padding: 0 10px;
                width: 550px;
                display: flex;
                flex-direction: column;

                & .btn-resend {
                    margin: 10px 0;
                    width: 100px;
                    border: 0;
                    background: 0;
                    text-align: start;
                    text-decoration: underline;
                    font-weight: bold;
                    height: 20px;
                    cursor: pointer;
                }

                & .notify--success {
                    margin: 50px;
                }
            }
        }

        & span {
            font-size: 16px;
        }

        & .process {
            height: 10px;
            width: 100%;
            display: flex;
            margin: 10px 0;

            & .process-child {
                width: 50px;
                background-color: #ebebeb;
                height: 100%;
                transition: 0.5s;
                margin: 0 3px;
                border-radius: 5px;
                cursor: pointer;

                &-active {
                    background-color: #999;
                }
            }
        }

        & label {
            font-weight: 550;
            line-height: 25px;

        }

        & .lbl-email {
            font-weight: 800;
            line-height: 25px;
            margin-bottom: 10px;
        }

        & .input-group {
            position: relative;
            width: 100%;
            margin-top: 15px;

            & .lbl-password-focus {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 20px;
                font-weight: bold;
                color: #999;
                transition: 0.2s;
                font-size: 15px;

                &ed {
                    font-size: 13px;
                    top: 27%;
                    left: 20px;
                }
            }

            & .txt {
                height: 60px;
                width: 100%;
                border-radius: 3px;
                border: 1px solid #dbdbdb;
                padding: 0 20px;
                padding-top: 15px;

                &:focus {
                    outline: 0;
                }
            }
        }

        & .btn-next {
            margin: 15px 0;
            height: 50px;
            font-size: 20px;
            border: 0;
            background-color: red;
            color: white;
            border-radius: 5px;
        }
    }
}