#private-header {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    background-color: rgba(0, 0, 0, 0.301);
    position: fixed;
    // flex-wrap: wrap;
    top: 0;
    left: 0;
    z-index: 5;
    height: 65px;

    & .logo-menu__menu {
        display: flex;

        & .menu__menu-item {
            margin: 0 10px;
            font-weight: 700;
            color: white;
        }
    }

    & .logo-menu {
        display: flex;
        align-items: center;

        & .logo-menu__logo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 15px 15px;
            width: 10%;

            @media only screen and (max-width: 600px) {
                margin: 15px 15px;
            }
        }
    }

    & .user-notify-search {
        display: flex;
        align-items: center;
        justify-content: end;

        @media only screen and (max-width: 600px) {
            padding-right: 5px;
        }

        & i {
            font-size: 30px;
            margin: 0 8px;
            color: white;
            cursor: pointer;
        }

        & .avatar-wrapper {
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;

            & .avatar {
                height: 48px;
                width: 48px;
                overflow: hidden;
                border-radius: 50%;
                margin: 0 8px;
                cursor: pointer;
            }

            & .options-user {
                width: 220px;
                position: absolute;
                padding: 10px 0;
                top: 74px;
                border-radius: 0 0 7px 7px;
                right: -10px;
                background-color: rgba(0, 0, 0, 0.466);
                border: 0;
                transition: 0.3s;
                // display: none;
                opacity: 0;
                display: flex;
                flex-direction: column;

                @media only screen and (max-width: 600px) {
                    right: 5px;
                    top: 107px;
                }


                & .user-item {
                    width: 100%;
                    height: 47px;
                    margin: 4px 0;
                    display: flex;
                    align-items: center;
                    color: white;
                    cursor: pointer;

                    & .avatar-user {
                        height: 45px;
                        width: 45px;
                        overflow: hidden;
                        border-radius: 50%;
                        margin: 0 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    & i {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}