.wrapper-detail {
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: flex;
    padding: 0 10%;
    flex-direction: column;
    padding-top: 10%;
    gap: 3rem;

    & .info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        & span {
            color: rgb(205, 205, 205);
        }

        & .btns {
            display: flex;
            margin-top: 20px;
            align-items: center;

            & .btn-parent {
                height: 50px;
                font-size: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;

                @media only screen and (max-width: 600px) {
                    font-size: 15px;
                }

                & i {
                    font-size: 40px;
                }
            }

            & .btn-watch {
                padding: 0 30px;
                background-color: rgb(234, 0, 0);
                color: white;
                font-weight: bold;
                border: 0;
                transition: 0.3s;
            }

            & .btn-watch:hover {
                scale: 1.05;
            }

            & .btn-like:hover {
                scale: 1.05;
            }

            & .btn-like {
                background: 0;
                width: 50px;
                border: 0;
                color: rgb(53, 53, 53);
                margin: 0 10px;
                background-color: white;
                transition: 0.3s;
            }
        }
    }
}