#header-signup {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #eaeaea;
    position: fixed;
    top: 0;
    left: 0;


    & .btn-sign-in {
        padding: 10px 20px;
        background: 0;
        color: black;
        border: 0;
        font-weight: bold;
        font-size: 20px;

        @media only screen and (max-width: 600px) {
            width: 160px;
        }
    }
}