#manage-profile-page {
    background-color: black;
    font-family: 'Noto Sans Tai Viet', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    // padding: 100px 0;

    @media only screen and (max-width: 600px) {
        padding: 0;
    }

    & .logo {
        position: absolute;
        top: 20px;
        left: 20px;
    }

    & h3 {
        color: white;
        font-weight: bold;
    }

    & .file {
        position: absolute;
        opacity: 0;
    }

    & .delete-user {
        background-color: #1b1b1b;
        border-radius: 10px;
        height: 60px;
        width: 550px;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        color: white;
        font-weight: bold;
        padding: 0 40px;

        @media only screen and (max-width: 600px) {
            width: 420px;
            scale: 0.7;
        }


        & button {
            height: 30px;
            width: 90px;
            background-color: red;
            border: 0;
            color: white;
            font-weight: bold;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    & .btns {
        margin-top: 15px;
        display: flex;
        align-items: center;
        width: 550px;
        justify-content: space-between;

        @media only screen and (max-width: 600px) {
            width: 420px;
            scale: 0.7;
        }

        & button {
            height: 50px;
            width: 49%;
            border-radius: 5px;
            background: 0;
            color: white;
            border: 2px solid white;
            font-weight: bold;
            font-size: 18px;
        }
    }

    & .create-form {
        background-color: #1b1b1b;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border-radius: 10px;
        margin-top: 20px;
        padding: 10px 20px;
        width: 550px;

        @media only screen and (max-width: 600px) {
            scale: 0.7;
            justify-content: center;
            width: 420px;
        }

        &__pins {
            border-top: 1px solid #999;
            display: flex;
            flex-wrap: wrap;
            padding: 10px 0;

            & .pin {
                display: flex;
                justify-content: space-between;
                color: white;
                font-weight: bold;
                font-size: 15px;
                margin: 5px 0;
                padding: 0 20px;


                & button {
                    height: 30px;
                    width: 90px;
                    background-color: red;
                    border: 0;
                    color: white;
                    font-weight: bold;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        &__inputs {
            display: flex;
            align-items: center;
            padding-left: 40px;
            flex-direction: column;
            justify-content: center;
            margin: 60px 0;

            @media only screen and (max-width: 600px) {
                padding: 0;
            }

            & .form-input {
                display: flex;
                flex-direction: column;
                justify-content: end;
                margin: 10px 0;

                @media only screen and (max-width: 600px) {
                    width: 100%;
                }

                & label {
                    color: #999;
                    font-weight: bold;
                    font-size: 16px;
                    margin: 5px 0;
                }

                & .radios {
                    color: white;
                    font-weight: bold;
                    font-size: 15px;
                    display: flex;
                    align-items: center;
                    margin: 5px 0;

                    & .radio-item {
                        display: flex;
                        align-items: center;
                        margin-right: 20px;

                        & input {
                            margin-right: 5px;
                            height: 16px;
                            width: 16px;
                        }
                    }
                }

                & input {
                    background: 0;
                    border: 0;
                    border-bottom: 2px solid #3e3e3e;
                    color: white;
                    line-height: 20px;

                    &:focus {
                        outline: 0;
                    }
                }

            }
        }

        &__avatar {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            & .avatar {
                border-radius: 50%;
                overflow: hidden;
            }

            & .update-avatar {
                cursor: pointer;
                font-size: 25px;
                position: absolute;
                bottom: 0;
                right: 20px;
                z-index: 1;
                color: #999;
                background: 0;
                border: 1px solid #999;
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
            }
        }
    }

    & .profiles {
        display: flex;
        margin-top: 30px;
        justify-content: center;
        flex-wrap: wrap;

        & .profile__parent {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;

            & p {
                color: white;
                font-weight: bold;
                font-size: 16px;
            }

            & .update-profile {
                cursor: pointer;
                position: absolute;
                top: 5px;
                right: 10px;
                background-color: rgba(0, 0, 0, 0.614);
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 23px;
                z-index: 2;
                border-radius: 50%;
                color: white;
            }
        }

        & .profile__child {
            width: 120px;
            height: 120px;
            overflow: hidden;
            border-radius: 50%;
            margin: 15px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #4c4c4c;

            & i {
                color: rgb(224, 224, 224);
                font-size: 80px;
            }
        }
    }
}