#video {
    position: relative;
    overflow: hidden;

    & .wrapper-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    & .btn-return {
        position: absolute;
        top: 10px;
        left: 15px;
        color: white;
        font-size: 40px;
        transition: 0.5s;
        z-index: 2;
    }

    & .btn-share {
        transition: 0.5s;
        position: absolute;
        top: 15px;
        right: 15px;
        color: white;
        transform: rotate(-180deg);
        font-size: 32px;
        z-index: 2;
    }

    & .bottom {
        width: 100%;
        position: absolute;
        bottom: -5px;
        padding-bottom: 5px;
        left: 0;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;
        box-shadow: inset 0px -60px 30px rgba(0, 0, 0, 0.689);

        & .btn-next {
            display: flex;
            align-items: center;
            justify-content: center;
            background: 0;
            border-radius: 10px;
            color: white;
            font-weight: bold;
            border: 0;
            padding: 0;
        }

        & .btn-next-episode {
            height: 60px;
            position: absolute;
            display: none;
            width: 200px;
            background-color: rgba(0, 0, 0, 0.74);
            color: white;
            border-radius: 7px;
            top: -90px;
            right: 15px;
            border: 0;
            z-index: 2;
            font-size: 17px;
        }

        & .subtitle {
            position: absolute;
            top: -120px;
            left: 0;
            width: 100%;
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 25px;
            font-weight: 550;
            overflow: hidden;

            & .content {
                height: 100%;
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;

            }
        }

        & .control {
            // background-color: aqua;

            & .actions-layout {
                height: 55px;
                width: 100%;
                background: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;

                & .title-movie {
                    color: white;
                    font-size: 19px;
                    display: flex;
                    align-items: center;
                }

                & .item {
                    padding: 0 20px;
                    width: 25%;
                    display: flex;
                    align-items: center;


                    & .control-volume {
                        position: absolute;
                        right: 115px;
                        width: 100px;
                        opacity: 0;
                        display: none;
                        transition: 0.5s;
                        height: 4px;
                        background-color: #909090;
                        top: 50%;
                        transform: translateY(-50%);

                        & .volumed {
                            background-color: red;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: end;

                            & .stick-volume {
                                height: 17px;
                                width: 17px;
                                background-color: red;
                                border-radius: 50%;
                                cursor: grab;
                            }
                        }
                    }

                    & i {
                        cursor: pointer;
                        font-size: 33px;
                        color: white;
                        margin: 0 7px;
                    }

                    &-left {

                        & i {
                            cursor: pointer;
                            font-size: 27px;
                            color: white;
                            margin: 0 10px;
                        }
                    }
                }
            }

            & .process-layout {
                height: 30px;
                // background-color: green;
                width: 100%;
                display: flex;
                padding: 0 20px;
                align-items: center;

                & .process {
                    height: 4px;
                    background-color: #909090;
                    width: 94%;
                    border-radius: 8px;
                    cursor: pointer;

                    & .played {
                        height: 100%;
                        min-width: 17px;
                        background-color: red;
                        display: flex;
                        align-items: center;
                        justify-content: end;

                        & .stick {
                            border-radius: 50%;
                            height: 17px;
                            width: 17px;
                            background-color: red;
                            cursor: grab;
                            transition: 0.5s;
                        }
                    }
                }

                & .time {
                    padding-left: 20px;
                    color: white;
                }
            }
        }
    }
}