#typical-section {
    // background-color: rgb(0, 0, 0);
    // overflow: hidden;
    max-height: 610px;
    z-index: 1;
    position: relative;

    & .btn-actions {
        position: absolute;
        bottom: 50px;
        right: 10px;
        z-index: 4;

        & button {
            color: white;
            background: 0;
            border: 0;
            font-size: 40px;
        }
    }

    & .trailer {
        position: absolute;
        height: 350px;
        width: 210px;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        transition: 0.3s;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 40px black;
        background-color: black;

        & video {
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
            scale: 1.4;
        }

        & .trailer-wrapper {
            width: 100%;
            height: 101%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            background-size: cover;
            box-shadow: inset 0px -150px 170px 0px rgba(0, 0, 0, 0.842);
            display: flex;
        }

        & .info {
            position: absolute;
            top: 40%;
            left: 70px;
            background: 0;
            z-index: 1;

            @media only screen and (max-width: 600px) {
                left: 20px;
                top: 40%;
            }

            & h2 {
                font-size: 40px;
                font-weight: bold;
                color: white;
                font-family: 'Roboto', sans-serif;

                @media only screen and (max-width: 600px) {
                    font-size: 20px;
                }
            }

            & .description {
                font-size: 14px;
                color: white;
                width: 570px;
                height: 17 0px;
                display: flex;
                flex-wrap: wrap;
                white-space: wrap;
                overflow: hidden;

                @media only screen and (max-width: 600px) {
                    font-size: 11px;
                    width: 330px;
                }
            }

            & .btns {
                display: flex;
                margin-top: 20px;
                align-items: center;

                & .btn-parent {
                    padding: 5px 30px;
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 5px;

                    @media only screen and (max-width: 600px) {
                        font-size: 15px;
                    }

                    & i {
                        margin-right: 5px;
                        font-size: 40px;
                    }
                }

                & .btn-watch {
                    background-color: rgb(234, 0, 0);
                    color: white;
                    font-weight: bold;
                    border: 0;
                }

                & .btn-detail {
                    padding: 3px 28px;
                    background: 0;
                    border: 2px solid white;
                    color: white;
                    margin: 0 10px;
                }
            }
        }
    }

    & .trailers {
        & .trailer:nth-child(n + 3) {
            & .info {
                left: 0px;
                width: 210px;
                padding: 10px;

                & h2 {
                    font-size: 27px;
                    text-align: center;
                }

                & .description {
                    display: none;
                }

                & .btns {
                    display: none;
                }
            }
        }

        & .trailer:nth-child(1),
        & .trailer:nth-child(2) {
            height: 100%;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }

        & .trailer:nth-child(3) {
            left: 65%;
            z-index: 3;
        }

        & .trailer:nth-child(4) {
            left: calc(65% + 225px);
            z-index: 3;
        }

        & .trailer:nth-child(5) {
            left: calc(65% + 450px);
            z-index: 4;
        }

        & .trailer:nth-child(n + 6) {
            left: calc(65% + 450px);
        }
    }
}